[submodule ".vim/pack/qkroode/start/vim-airline"]
	path = .vim/pack/qkroode/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/qkroode/start/vim-colors-solarized"]
	path = .vim/pack/qkroode/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/qkroode/start/nerdtree"]
	path = .vim/pack/qkroode/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
